# Unity 폴더/파일 무시
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/

# Visual Studio, Rider, VSCode 등 IDE 설정
*.csproj
*.sln
.vs/
.vscode/
.idea/

# Crash 보고용
sysinfo.txt

# 빌드 패키지
*.apk
*.unitypackage

